/*********************************/
/*             General           */
/*===============================*/
html {
    @apply scroll-smooth;
}

body {
    @apply text-[15px] text-slate-900;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-roboto;
}

p {
    @apply leading-relaxed;
}

input[type="number"] {
    // Hide number input arrows for Webkit browsers
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    // Hide number input arrows for Firefox
    -moz-appearance: textfield;
}